# Ignore config
/node_modules/*
/.idea/*
/.vscode/*
/db/*
/tmp/*
/public/data/image/*
/public/data/thumb/*

!/db/.keep
!/db/db.demo.sqlite
!/tmp/restart.txt
!/public/data/image/.keep
!/public/data/thumb/.keep