::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #dee6ec;
  border-radius: 0.25em;
}

::-webkit-scrollbar-track {
  background: 20%;
}

body {
  scrollbar-face-color: #dee6ec;
  scrollbar-track-color: 20%;
}

body {
  font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei", "微软雅黑", STXihei,
    "华文细黑", sans-serif;
  color: #ffffff;
  height: 100vh;
  background-image: url("/today");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
body:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: inherit;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  z-index: 2;
}
.app {
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  position: relative;
  z-index: 11;
}

.container-fluid .item {
  display: inline-block;
  height: auto;
  padding: 0.1rem;
  position: relative;
  border: none;
  width: 300px;
}

.container-fluid .item .card {
  display: block;
  height: 100%;
  background: #dedede;
  position: relative;
  /*cursor: -webkit-zoom-in;*/
  /*cursor: zoom-in;*/
}

.container-fluid .item .card img {
  width: 100%;
  border: 0;
}

.container-fluid .item .card .options {
  font-size: 0.12rem;
  position: absolute;
  right: 0.05rem;
  bottom: 0.05rem;
  padding: 0.05rem;
  display: block;
  text-align: right;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  z-index: 3;
}

.container-fluid .item .card .description {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0.05rem;
  display: block;
  color: #fff;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1;
  pointer-events: none;
}
#footer {
  height: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: Arial;
  font-size: 12px;
  letter-spacing: 1px;
  z-index: 12;
}
#footer a {
  color: #fff;
}
