<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>BINGIMAGE</title>
    <link rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body>
    <%= message %>
  </body>
</html>
